<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista dei fatture</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1 class="text-center">Lista dei fatture</h1>
    <!-- Lien pour revenir à la page d'accueil -->
    <a href="http://localhost:8080/index.html">Home</a>
    <!-- Bouton pour ajouter une facture -->
    <div class="text-right mb-3">
        <a href="/Factures/new" class="btn btn-success">Inserisci Nuova fattura</a>
    </div>


    <!-- Table des factures -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ref</th>
            <th>date</th>
            <th>id Client</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Boucle sur la liste des facture et affichage des informations -->
        <tr th:each="Facture : ${Factures}">
            <td th:text="${facture.ref}"></td>
            <td th:text="${facture.date}"></td>
            <td th:text="${facture.clientId}"></td>
            <td>
                <!-- Boutons Update et Delete -->
                <a th:href="@{/Factures/edit/{ref}(ref=${facture.ref})}" class="btn btn-warning btn-sm">Update</a>
                <a th:href="@{/Factures/delete/{ref}(ref=${facture.ref})}" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette facture ?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS, jQuery et Popper.js -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
